body {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

/* Containers */

.container-fluid {
    padding: 3% 15% 7%;
}

/* Sections */

.colored-section {
    background-color: #FF4C68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Headings */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navbar Section */


.navbar {
    padding: 0 0 4.5rem;
    
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    margin: auto;
    margin-top: -15px;
    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download Buttons */

.download-button {
   margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image {
    max-width: 60%;
    transform: rotate(25deg);
    margin-left: 180px;
    right:30%;
    position: absolute;
}

/* Features Section */

#features {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    z-index: 1;
    
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.features-h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}

.features-p {
    color: #8f8f8f;
    
}

.icon {
   color: #ef8172;
   
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 12%;
    margin: 20px 20px 50px;
}

.testimonial-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

.ocd-margin {
    margin-bottom: 57px;
}

.price-heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Call To Action Section */

#cta {
    text-align: center;
    padding: 7% 15%;
}

.cta-slogan {
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: #fff;
    margin: auto;
    padding: 2.5rem 2.5rem;
}

.cta-download-button {
    margin: 25px 15px;
 }

 /* Footer Section */

#footer {
    text-align: center;
    padding: 7% 15%;
 }

.copyright{
    color: #8f8f8f;
}

.fa-footer {
    padding: 0.5rem 0.5rem;
 }

 /* Media Queries */

 @media (max-width: 1400px) {

    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
        margin: auto;
    }
}